:root {

    /* MONOCHROME / BLACKS */
    --zero-black: #090f1f;
    --one-black: #202636;
    --two-grey: #090f1f;
    --three-grey: #4e5363;
    --four-grey: #5e667a;

    /* FADED BLUES */
    --zero-blue: #abc4ff;
    --one-blue: #c1d3fe;
    --two-blue: #ccdbfd;
    --three-blue: #d7e3fc;
    --four-blue: #edf2fa;
}

p {
    font-family: titillium web;
    letter-spacing: 1px;
}

body {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

.top-bar {
    height: 68px;
    background-color: var(--one-black);
    color: var(--four-blue);
    display: flex;
    align-items: center;
}

.page-title {
    margin-left: 15px;
    color: var(--four-blue);
    font-size: 28px;
    padding: 0;
    margin: none;
    font-family: titillium web;
    font-weight: 500;
    letter-spacing: 2px;
}

.contact-section {
    display: flex;
    margin-left: auto;
    margin-right: 15px;
}

.contact-button {
    font-family: titillium web;
    font-weight: 500;
    border-color: var(--four-blue);
    border-style: inset;
    border-style: solid;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 23px;
    border-radius: 12px;
    padding-left: 17px;
    padding-right: 17px;
    background-color: var(--zero-black);
    letter-spacing: 1px;
}

/* .contact-button: :hover {
    
} */

