/* @media screen {
    max-width: 640px;
} */

:root {

    /* MONOCHROME / BLACKS */
    --zero-black: #090f1f;
    --one-black: #202636;
    --two-grey: #090f1f;
    --three-grey: rgb(78, 83, 99);
    --four-grey: #5e667a;

    /* FADED BLUES */
    --zero-blue: rgb(171, 196, 255);
    --one-blue: #c1d3fe;
    --two-blue: rgb(206, 220, 253);
    --three-blue: #d7e3fc;
    --four-blue: #edf2fa;
}



p {
    font-family: titillium web;
    letter-spacing: 1px;
    color: var(--two-grey);
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

div {
    margin: 0;
    padding: 0;
}

a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* ----- TOP BAR SECTION ----- */

.top-bar {
    height: 68px;
    background-color: var(--one-black);
    display: flex;
    align-items: center;
}

.page-title {
    margin-left: 15px;
    color: var(--four-blue);
    font-size: 28px;
    padding: 0;
    margin: none;
    font-family: titillium web;
    font-weight: 500;
    letter-spacing: 2px;
}

.contact-section {
    display: flex;
    margin-left: auto;
    margin-right: 15px;
    align-items: center;
}

.github-icon {
    margin: 0;
    padding: 0;
    margin-top: 3px;
    height: 40px;
    width: 40px;
    margin-right: 17px;
    cursor: pointer;
    border-radius: 50px;
    background-color: var(--zero-black);
    transition: all 0.15s;
}

.github-icon:hover {
    background-color: var(--four-blue);
}

.github-icon:active {
    background-color: var(--one-black);
}


.contact-button {
    font-family: "titillium web";
    font-weight: 500;
    border-color: var(--four-blue);
    border-style: inset;
    border-style: solid;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 23px;
    border-radius: 12px;
    padding-left: 17px;
    padding-right: 17px;
    background-color: var(--zero-black);
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.15s;
    user-select: none;
    color: var(--four-blue);
}

.contact-button:hover {
    background-color: var(--three-grey);
    border-color: var(--two-blue);
}

.contact-button:active {
    background-color: var(--one-blue);
    border-color: var(--four-grey);
    color: var(--four-grey);
}

/* ----- CENTRAL TITLE SECTION ----- */

.image-bar {
    height: 450px;
    background-color: var(--two-grey);
    position: relative;
}

.title-section {
    font-size: 60px;
    font-family: titillium web;
    letter-spacing: 5px;
    word-spacing: 2px;
    color: var(--one-blue);
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px 10px 20px;
    border-radius: 16px;
    background-color: rgba(206, 220, 253, .25);
    text-align: center;
}

/* ----- BOTTOM PROJECTS SECTION ----- */

.projects-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive columns */
    gap: 20px; /* Adjust as needed */
    justify-content: center; /* Center the grid items */
    margin: 0;
    padding: 0;
    padding-top: 58px;
    padding-bottom: 58px;
    width: 100%;
}

.project {
    height: 400px;
    margin: 0;
    width: 300px;
    padding: 0;
    border: inset;
    border-radius: 7px;
    border-style: solid;
    padding: 20px;
    transition: all 0.2s;
    align-self: center;
    justify-self: center;
}

.project:hover {
    box-shadow: 0px 0px 50px 5px rgba(171, 196, 255);
}

.project-thumbnail {
    width: 100%;
    height: 150px;
    border-radius: 7px;
    margin: 0;
    padding: 0;
}

.project-title {
    color: var(--two-grey);
    font-size: 23px;
    margin: 0;
    padding: 0;
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: "titillium web";
    font-weight: 600;
    letter-spacing: 3px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-width: 3px;
    border-radius: 7px;
    background-color: var(--one-blue);
    cursor: pointer;
    transition: all 0.15s;
}

.project-title:hover {
    background-color: var(--zero-blue);
    border-color: var(--three-grey);
}

.project-title:active {
    background-color: var(--four-grey);
    border-color: var(--zero-blue);
    color: var(--zero-blue);
}


.project-description {
    font-size: 23px;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    font-family: "titillium web";
    font-weight: 600;
    letter-spacing: 3px;
    text-align: justify;
}